<div data-project-list-item-template class="hidden">
	<div data-template class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title" data-title></h3></div>
		<div class="media">
			<div class="media-left">
				<img class="media-object" data-image>
			</div>
			<div class="media-body">
				<p data-description></p>
				<p><a class="btn btn-primary pull-right" data-project-link>Join this project
					<span class="glyphicon glyphicon-triangle-right"></span>
				</a></p>
			</div>
		</div>
	</div>
</div>
